<!DOCTYPE html>
<html>
<head>
    <title>RSA Cipher Testing</title>
</head>
<body>
    <h1>RSA Cipher Testing</h1>
    <table>
        <thead>
            <tr>
                <th>Test No.</th>
                <th>Original String</th>
                <th>Encrypted String</th>
                <th>Decrypted String</th>
                <th>Decryption Success</th>
            </tr>
        </thead>
        <tbody>
            {% for data in table_data %}
            <tr>
                <td>{{ data[0] }}</td>
                <td>{{ data[1] }}</td>
                <td>{{ data[2] }}</td>
                <td>{{ data[3] }}</td>
                <td>{{ "Success" if data[4] else "Failure" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>Average score: {{ avg_score }}</p>
</body>
</html>
